nav.nav-tabs,
nav.nav-tabs .nav-link:hover {
  border-bottom: 2px solid var(--pgn-color-primary-base);
}

a.nav-item.nav-link.active {
  border-bottom-width: 5px;
}

.text-uppercase,
.text-base {
  text-transform: uppercase;
  color: var(--pgn-color-gray-vue-600);
  letter-spacing: 1px;
}

.text-uppercase {
  font-weight: 700;
  font-size: 15px;
}

.text-base {
  text-transform: capitalize;
}

.text-primary {
  color: var(--pgn-color-primary-base);
}

.student-image {
  min-height: var(--pgn-size-profile-student-image);
  min-width: var(--pgn-size-profile-student-image);
  max-width: var(--pgn-size-profile-student-image);
  max-height: var(--pgn-size-profile-student-image);
  object-fit: cover;
  border-radius: 50%;
}

.wrapper-loading {
  min-height: 250px;
}

.info-divider {
  border-top: 1px solid var(--pgn-color-gray-vue-200);
}
