article.instructor-wrapper {
  padding: 1.8rem;
  color: var(--pgn-color-gray-800);
  overflow: hidden;
  border: 1px solid var(--pgn-color-gray-200);
  border-radius: var(--pgn-border-radius);
  box-shadow: 0px 3px 12px 0px var(--pgn-color-gray-300);
  background-color: var(--pgn-color-white-200);
  font-size: 0.89rem;
  min-width: auto;
  max-width: none;

  .text-color {
    color: inherit;
  }

  .progress-enrolled {
    width: 90%;
  }
}

.instructor-details {
  width: 40%;
}

.back-arrow.btn.btntpz {
  color: var(--pgn-color-gray-800);
}

@media screen and (max-width: 575px) {
  article.instructor-wrapper {
    height: auto;
  }

  .instructor-details {
    width: 100%;
  }
}
