.pageWrapper {
  min-height: calc(100vh - 222px);
  background-color: var(--pgn-color-gray-vue-225);
  background-image: url('https://pearson-production-media.s3.us-east-1.amazonaws.com/resources/Circles.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40%;
}

@media (max-width: 700px) {
  .pageWrapper {
    background-size: 90%;
  }
}
